.swiper-wrapper{
    width: 0;
    height: 100%;
}

.simple-swiper{
    position: relative;
    height: 100%;
    overflow-y: visible;


    .swiper-slide{
        width: auto;
        height: 100%;
    }

    .swiper-button-prev{
        position: absolute;
        background-color: white;
        top: 0px;
        right: 50px;
        left: auto;
        height: 40px;
        width: 40px;
        border: 1px solid var(--coreego-blue);
        border-radius: 90%;
        &::after{
            font-size: 20px;
            font-weight: bolder;
            color: var(--coreego-blue);
        }
    }
    .swiper-button-next{
        background-color: white;
        position: absolute;
        top: 0px;
        right: 0;
        height: 40px;
        width: 40px;
        border: 1px solid var(--coreego-blue);
        border-radius: 90%;
        &::after{
            font-size: 20px;
            color: var(--coreego-blue);
        }
    }

}

.thumb_swiper_top{
    height: 70%;
    width: 100%;
}

.thumb_swiper_footer{
    width: 100%;
    max-height: 100px;
    margin: 10px 0;
    .swiper-slide-thumb-active img{
        border: 3px solid var(--coreego-blue);
        border-bottom: 3px solid blueviolet;
    }

    .swiper-slide:not(.swiper-slide-thumb-active){
        opacity: 0.5;
    }
}
