:root {
	--coreego-blue: #005998;
	--coreego-red: #CE293B;
	--coreego-blue-opacity: #005998ac;
	--test: #0fc1e9;
}

body{

	a.active, a.active li {
		color: var(--coreego-blue);
		*{
			fill: var(--coreego-blue);
		}
	}

	.nav_logo {
		height: 21px;
	}

	.quill {
		.ql-container {
			min-height: 200px;
		}
		.ql-editor {
			height: 100%;
			img {
				max-height: 150px;
			}
	}
}

.reactquill_content{
	*{
		max-width: 100%;
	}
}

}