:root {
  --coreego-blue: #005998;
  --coreego-red: #CE293B;
  --coreego-blue-light: #7495ED;
  --coreego-red-dark: #cc041b;
  --coreego-blue-dark: #014d83;
  --light: #f1f3f477;
  --grey-bold: #4a4646;
  --main: #f4f3f3;
  --box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.533);
  --mui-light: rgb(192, 192, 192);
}
